*.iml
.gradle
.kotlin/
local.properties
/.idea/
.DS_Store
build/
**/build/
/.captures
.externalNativeBuild
.cxx
.vscode
gradle/gradle-daemon-jvm.properties
gradle/libs.versions.toml
rapidrameScript.ts
rawScript.ts
WebPlayerService.ts
